*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

main,
header,
footer {
  margin: 0 auto;
  width: 80%;
}

h1 {
  padding: 10px 10px;
}

h2 {
  padding: 10px 0 10px 0;
}

p,
input,
label,
select {
  margin: 0 5px;
}

input[type="text"],
select {
  width: 100%;
}

footer {
  padding: 30px 10px;
  vertical-align: bottom;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.options-menu {
  width: 100%;
  padding: 20px 30px;
}

.options {
  display: flex;
  flex-direction: row;
}

.option-item {
  padding: 5px 5px;
  width: 100%;
  display: flex;
  flex-direction: columns;
}

.auto-resize {
  width: auto;
}

.categorical,
.numeric {
  flex-direction: column;
}

.required {
  padding: 0 5px 0 5px;
}

.error {
  color: red;
  font-weight: normal;
  align-items: center;
  font-size: medium;
}

.prediction-section {
  padding: 10px;
  min-width: 400px;
  text-align: center;
  vertical-align: middle;
}

.submit,
.prediction {
  width: 250px;
  height: 75px;
  margin: 0 auto;
  font-size: larger;
  font-weight: bold;
  border-radius: 5px;
  line-height: 50px;
  vertical-align: middle;
  line-height: 75px;
  border-color: transparent;
}

.submit {
  background-color: darkkhaki;
}

.prediction {
  background-color: beige;
}

.yes {
  background-color: darkred;
  color: white;
}

.no {
  background-color: olivedrab;
}

#errors {
  padding: 10px 0 20px 0;
}

@media (max-width: 1350px) {
  header,
  main,
  footer {
    width: 85%;
  }

  .prediction-section {
    min-width: 300px;
  }
}

@media (max-width: 1060px) {
  header,
  main,
  footer {
    width: 90%;
  }

  main {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }

  .prediction-section {
    min-width: auto;
  }
}

@media (max-width: 635px) {
  header,
  main,
  footer {
    width: 95%;
  }

  .options {
    flex-direction: column;
    margin: 0;
  }

  label {
    margin: 3px;
    align-items: center;
  }
}
